*.pyc
__pycache__
build
*.egg-info
*.iml
*.tgz
debian/.*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/stupidchess-uwsgi*
debian/stupidchess.debhelper.log
debian/stupidchess.postinst.debhelper
debian/stupidchess.substvars
debian/stupidchess/
stupidchess-deployment/opt/stupidchess/config
stupidchess-deployment/opt/stupidchess/uwsgi.ini
stupidchess-deployment.deb
update-versions
update-deb-version
version.txt
