[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bcrypt = "~=4.0"
cffi = "~=1.15"
click = "~=8.1"
flask-auth-utils = "~=19.1109"
flask-mongoengine = "~=1.0"
healthcheck = "~=1.3"
itsdangerous = "~=2.1"
jconfigure = "~=19.1109"
mongoengine = "~=0.27"
nose = "~=1.3"
pycparser = "~=2.21"
pymongo = "~=4.3"
requests = "~=2.31"
tabulate = "~=0.8"
Flask = "<2.3"
Flask-Login = "~=0.6"
Flask-WTF = "~=1.1"
Jinja2 = "~=3.1"
MarkupSafe = "~=2.1"
six = "~=1.16"
uWSGI = "~=2.0"
Werkzeug = "~=2.3"
WTForms = "~=3.0"

[dev-packages]
black = "*"

[requires]
python_version = "3"
