bcrypt==3.1.0
cffi==1.10.0
click==6.7
Flask==0.11.1
Flask-Login==0.4.0
flask-auth-utils==19.1109
flask-mongoengine==0.9.5
Flask-WTF==0.14.2
healthcheck==1.3.2
itsdangerous==0.24
jconfigure==17.0917
Jinja2==2.9.6
MarkupSafe==1.0
mongoengine==0.18.2
nose==1.3.7
pycparser==2.18
pymongo==3.5.1
requests==2.18.4
tabulate==0.8.1
uWSGI==2.0.15
Werkzeug==0.12.2
WTForms==2.1
