version: '2'
services:
  mongo:
    image: 'mongo:3.2'
    ports:
      - '27017:27017'
  nginx:
    image: 'jnorwood/stupidchess-nginx:{{nginx_version}}'
    entrypoint: 'nginx -c /etc/nginx/local/nginx.conf -g "daemon off;"'
    volumes:
      - '{{project_path}}/etc/nginx:/etc/nginx/local'
    volumes_from:
      - webpack_builder
      - uwsgi
    ports:
      - '80:80'
  server_code:
    image: 'jnorwood/stupidchess-server_code:{{server_code_version}}'
  uwsgi:
    image: 'jnorwood/stupidchess-uwsgi:{{uwsgi_version}}'
    links:
      - mongo
    entrypoint: 'uwsgi --ini /etc/uwsgi/uwsgi.ini:local'
    volumes:
      - '{{project_path}}/server:/var/lib/johnmalcolmnorwood/stupidchess/server'
      - '{{project_path}}/etc/uwsgi:/etc/uwsgi'
    volumes_from:
      - server_code
  webpack_builder:
    image: 'jnorwood/stupidchess-webpack_builder:{{webpack_builder_version}}'
    volumes:
      - '{{project_path}}/web/src:/var/lib/johnmalcolmnorwood/stupidchess/src'
    entrypoint: 'webpack --watch'
