<!DOCTYPE html>
<html>
<head>
    <title>Stupid Chess</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00274c">

    <link href="//cdn.muicss.com/mui-0.9.27/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    {% block extra_style %}{% endblock %}
    {% block bundle %}{% endblock %}
</head>
<body>

<div id="csrf-token" data-token="{{ csrf_token() }}"></div>

{% if current_user.is_authenticated %}
    <div id="current-user" data-uuid="{{ current_user.id }}" data-name="{{ current_user.username }}"></div>
{% endif %}

{% block body %}
    <div id="content-root"></div>
{% endblock %}

</body>
</html>
