[Unit]
Description=uWSGI for stupidchess
After=syslog.target
Requires=stupidchess-uwsgi.socket

[Service]
ExecStart=/opt/venvs/stupidchess-uwsgi/bin/uwsgi --ini /etc/stupidchess/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
Environment=JCONFIGURE_ACTIVE_PROFILES=RPI
Environment=JCONFIGURE_CONFIG_DIRECTORIES=/etc/stupidchess/config
Environment=SECRETS_VOLUME_PATH=/opt/secrets/stupidchess
RuntimeDirectory=stupidchess
User=stupidchess

[Install]
WantedBy=multi-user.target
