[Unit]
Description=stupidchess uwsgi listen socket
PartOf=stupidchess-uwsgi.service

[Socket]
FileDescriptorName=stupidchess-uwsgi
ListenStream=/run/stupidchess/uwsgi.sock
SocketUser=stupidchess
SocketGroup=stupidchess

[Install]
WantedBy=sockets.target
