[Unit]
Description=uWSGI for stupidchess
After=syslog.target

[Service]
ExecStart=/opt/venvs/stupidchess/bin/uwsgi --ini uwsgi.ini
RuntimeDirectory=/opt/stupidchess
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
Environment=JCONFIGURE_ACTIVE_PROFILES=RPI
Environment=JCONFIGURE_CONFIG_DIRECTORIES=/opt/stupidchess/config
Environment=SECRETS_VOLUME_PATH=/opt/stupidchess/secrets

[Install]
WantedBy=multi-user.target