.submit-button {
    background-color: navy;
    color: white;
}

.error-text {
    color: red;
}

.submit-button:hover {
    background-color: navy;
    color: yellow;
}

#input-form {
    height: 100%;
}

.form-container {
    padding-top: 30px;
}
