/**
 * Body CSS
 */
html,
body {
    height: 100%;
    background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

img {
    max-width: 100%;
}

/**
 * Layout CSS
 */
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: left 0.2s;
}

#react-root {
    height: 100%;
}

.skin-element {
    background: navy;
    color: white;
}

.button {
    background-color: navy;
    color: white;
}

.button:hover {
    background-color: navy;
    color: yellow;
}


.uuid-link {
    font-family: monospace;
}

.link {
    color: yellow;
}

.error-bar {
    background: red;
    text-align: center;
    display: table;
    width: 100%;
}

.error-bar > div {
    background: red;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    transition: transform 0.2s;
}

#content-root {
    height: 100%;
    position: relative;
}

#content-wrapper {
    height: 100%;
    overflow-x: hidden;
    margin-left: 0;
    transition: margin-left 0.2s;
    margin-bottom: -120px;
}

#footer {
    height: 120px;
    margin-left: 0;
    transition: margin-left 0.2s;
}

.main-container {
    padding-top: 15px;
}

.footer-height {
    height: 120px;
}

@media (min-width: 768px) {
    #header {
        left: 200px;
    }

    #sidedrawer {
        transform: translate(200px);
    }

    #content-wrapper {
        margin-left: 200px;
    }

    #footer {
        margin-left: 200px;
    }

    body.hide-sidedrawer #header {
        left: 0;
    }

    body.hide-sidedrawer #sidedrawer {
        transform: translate(0px);
    }

    body.hide-sidedrawer #content-wrapper {
        margin-left: 0;
    }

    body.hide-sidedrawer #footer {
        margin-left: 0;
    }
}

/**
 * Toggle Side drawer
 */
#sidedrawer.active {
    transform: translate(200px);
}

/**
 * Header CSS
 */
.sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.sidedrawer-toggle:hover {
    color: #fff;
    text-decoration: none;
}

/**
 * Side drawer CSS
 */
#sidedrawer-brand {
    padding-left: 20px;
}

#sidedrawer ul {
    list-style: none;
}

#sidedrawer > ul {
    padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
    padding-top: 15px;
}

#sidedrawer strong {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
}

#sidedrawer strong:hover {
    background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
    padding: 6px 0px;
}
