{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": ["react"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "rules": {
        "no-console": 0,
        "no-underscore-dangle": 1,
        "quotes": [2, "double"]
    }
}